@*
 * The MIT License
 *
 * Copyright (c) 2014, Andrew Gray
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
*@
@model IEnumerable<QuantumSchool.Core.Models.Course>

@{ ViewBag.Title = "Quantum School"; }

<head>
    <title>Quantum School</title>
    <script src="~/Scripts/school.js"></script>
</head>

<body>
    <div id="header">
        <h1>Quantum School</h1>
    </div>
    <div id="header">
        <h3>Courses</h3>
    </div>
    <div id="courses_div">
        <table id="course_table" class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher)
                </th>
                <th></th>
            </tr>

            @foreach(var item in Model) {
                <tr id="@item.CourseID" onclick="CourseSelected(this)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Courses", new { id = item.CourseID }, null) |
                        @Html.ActionLink("Delete", "Delete", "Courses", new { id = item.CourseID }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
    <button id="add_course" onclick="AddCourse()">Add</button>
    <h3 id="course_header"></h3>
    <div id="students_div"></div>
</body>